.App {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh; /* Ensure it takes the full viewport height */
}

.prototype-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eedede;
  min-height: 200px;
  min-height: 200px;
  border: 1px solid red;
}

.hidden {
  display: none;
}
